<div class="container">
    <div class="row row-cols-2 d-flex justify-content-around">
       <a routerLink="/contacts" class="item1 col-5 col-md-4 py-3 mt-3"> <div >Rubrica <br> <i class="bi bi-book" style="font-size: 2rem;" ></i></div></a>
       <a routerLink="/whatsapp" class="item2 col-5 col-md-4 py-3 mt-3"> <div >Whatsapp <br><i class="bi bi-whatsapp"style="font-size: 2rem;" ></i></div>  </a>
        <a routerLink="#" class="item3 col-5 col-md-4 py-3 mt-3"> <div >disattivo <br><i class="bi bi-exclamation-octagon"style="font-size: 2rem;" ></i></div></a>
        <a routerLink="#" class="item3 col-5 col-md-4 py-3 mt-3"><div >disattivo <br><i class="bi bi-exclamation-octagon"style="font-size: 2rem;" ></i></div></a>
    </div>
</div>
