.item1 {
    border-radius: 10px;
    background-color: rgb(197, 235, 108);
  
    text-align: center;
}
.item2 {
    border-radius: 10px;
    background-color: rgb(20, 202, 126);
  
    text-align: center;
}
.item3 {
    border-radius: 10px;
    background-color: rgb(214, 214, 214);
  
    text-align: center;
}
a{
    text-decoration: none;
   
}
