img{
    width: 40%;
    height: 40%;
    background-color: rgb(2, 124, 67);
    padding: 1px;
}
a{
    padding: 1rem;
    border-radius: 2rem;
border: 1px solid black;
text-align: center;
text-decoration: none;
}
a:hover{
    background-color: rgb(9, 187, 104);
    color: white;
}