.nav{
    border-radius: 10px;
    background-color: rgb(29, 131, 149);
    color: white;
}

    button{
        color: rgb(65, 76, 238);
        background-color: unset;
          border: unset;
      }

label{
    padding:1rem;
}