.nav{
    border-radius: 10px;
    background-color: rgb(197, 235, 108);

}
button{
    background-color: rgb(105, 141, 20);
    color:rgb(197, 235, 108);
    border-radius: 10px;

}
label{
    padding:1rem;
}