img{
    width: 50%;
    height: 50%;
}
a {
border-radius: 20px;
   padding:3rem;
   background-color:rgb(197, 235, 108); 
   text-decoration: none;
}

a:hover{
    background-color:rgb(113, 149, 29) ;
}