<div class="container sticky-top">
        <div class="row nav mb-2">
            <div class="col-2 "><button type="button" (click)="goBack()"><i class=" bi bi-arrow-left-short" style="font-size: 2rem;"></i></button></div>
            <div class="col-8 my-auto col-md-7 text-center"><h1>Whatsapp</h1></div>
        </div>
    </div>
    <div class="container" *ngIf="contacts">
        <div *ngFor="let contact of contacts">
          
          <app-message-item [contatto]="contact"></app-message-item>
      
        </div>
    </div>
    
